version: '3.8'

services:
  frontend:
    build: 
      context: ../frontend
      dockerfile: ../docker/Dockerfile.frontend
    ports:
      - 3000:3000
  cms:
    build: 
      context: ../cms
      dockerfile: ../docker/Dockerfile.cms
    ports:
      - 1337:1337
    environment:
      DATABASE_HOST: cms
      DATABASE_CLIENT: postgres
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_NAME: ${DATABASE_NAME}
  db:
    image: postgres:14.1-alpine
    restart: always
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
      command: "postgres -c port=${DATABASE_PORT}"
      volumes:
        - cms:/var/lib/postgresql/data

volumes:
  cms: